/* variable */
:root {
    --primary: #B5641A;
    --second: #7B4A4A;
    --third: #766E6E;
    --fondo: #EDECE7;

}


/* reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
}

html {
    scroll-behavior: smooth;
  }


/* mobile style */

header {
    background: linear-gradient(rgba(152, 100, 23, 0.3), rgba(152, 100, 23, 0.3)),
    url("./images/banner/banner.jpg") center / cover;  
}

.site-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-bottom: 8px;
}

.right-text {
    font-family: 'Dancing Script', cursive;
    display: none;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-size: 1.5em;
    padding-bottom: 10px;
}


.left-text h3 {
    padding-top: 10px;
    padding-bottom: 0;
    font-family: 'Gochi Hand', cursive;
    color: white;
    font-size: 0.9em;
    position: relative;
    top: 8px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    
}

p, a, li {
    font-size: 0.7em;
    font-weight: normal;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    /* grid-template-rows: repeat(11, auto); */
    row-gap: 10px;
}

nav {
    grid-area: 1 / 1 / 1 / 13;
    text-transform: uppercase;
}

ul li a{
    padding: 5px;
}

ul li a:hover {
    background-color: var(--primary);
    color: white;
}

.nav-flex {
    display: flex;
    justify-content: space-evenly;
}

.main-banner {
    grid-area: 2 / 1 / 2 / 13;
}

.main-banner h2 {
    font-family: 'alfa slab one', cursive ;
    color: var(--primary);
    font-size: 1.2em;
    padding-left: 10px;
}

.banner-image img {
    width: 100%;
}

.joing {
    grid-area: 3 / 1 / 3 / 13;
    margin-top: -14px;
    background-color: var(--second);
    font-size: 1.4em;
}

.joing-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
   
}

.joing-text h4 {
    font-size: 0.7em;
    font-family: 'gochi hand', cursive;
    text-align: center;
    padding-top: 10px;
}

.joing-text p {
    text-align: center;
    font-size: 0.5em;
}
.join-button {
    padding: 0px 15px 0px 15px;
    /* padding-bottom: 10px; */
}
button {
   padding: 3px 9px;
   border: 1px solid #766E6E;
   border-radius: 10px;
   font-size: 0.6em;
   transition: 0.5s;
}

button:hover {
    background-color: var(--primary);
    color: white;
}

.about {
    grid-area: 4 / 1 / 4 / 13;
    text-align: justify;
    padding: 10px 10px;
    color: var(--third);
    font-size: 1em;
    background-color: var(--fondo);
    margin-top: -10px;
}

.beer-of-month {
    grid-area: 5 / 1 / 5 / 13;
}

.beer-of-month h3 {
    color: var(--primary);
    font-size: 1em;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 10px;
}

.beer-month-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.beer-month {
    width: 250px;
    padding: 20px 0;
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
}

.beer-month h4 {
    font-size: 0.9em;
    color: var(--third);
}

.beer-month p {
    font-size: 0.7em;
    color: rgb(179, 179, 179);
    text-align: center;
}

.beer-month-image img {
    width: 100%;
    border-radius: 50%;
    max-width: 290px;
}

.club-recomended {
    grid-area: 6 / 1 / 6 / 13;
    background-color: var(--fondo);
    padding: 10px 0;
}

.recomendation-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}


.recomendation-logo img {
    width: 100%;
    max-width: 130px;
    padding: 4px 4px;
}

.club-recomended h3 {
    color: var(--primary);
    font-size: 1em;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 10px;
}

.covid {
    margin-top: -10px;
    grid-area: 7 / 1 / 7 / 13;
    background-color: var(--second);
    padding: 15px 0;
}

.covid h3 {
    padding-left: 10px;
}

.covid-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.covid-icon {
    width: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.covid-icon img {
    
    width: 100%;
    max-width: 100px;
}

.beer-offer {
    grid-area: 8 / 1 / 8 / 13;
    width: 90%;
    margin: 0 auto;
}

.beer-offer h3 {
    color: var(--primary);
    font-size: 1em;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 10px;
}

.offer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.beer {
    background-color: rgba(255, 115, 0, 0.164);
    margin: 10px 0;
    padding: 14px 30px;
    text-align: center;
    border: 0.05px solid rgb(206, 206, 206);
    border-radius: 10px;
    width: 275px;
    height: 460px;
    max-width: 275px;
    
}

.beer h5 {
    padding: 5px;
}

.beer img {
    padding-bottom: 5px;
}

.beer p {
    font-size: 0.7em;
    color: var(--third);
}

.info {
    grid-area: 9 / 1 / 9 / 13;
    width: 100%;
    margin: 0 auto;
    background-color: var(--fondo);
}

.info-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0;
}

.beer-club, .resources, .company, .social {
    width: 200px;
}

.beer-info h4 {
    font-size: 1.1em;
    color: var(--second);
    padding: 7px 0px;
}

.beer-info p {
    font-size: 0.8em;
    color: #766E6E;
    padding: 3px 0;
}

.social img {
    padding: 0 10px;
}

footer {
   grid-area:  10 / 1 / 10 / 13;
   background-color: #C4C4C4;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;
   margin-top: -10px;
   padding: 8px 10px;
   color: var(--third);
}

.left-side {
    display: flex;
    flex-flow: row wrap;
} 

.border {
    padding: 0 10px;
}

.right {
    border-right: 1px solid gray;
}

/* small tablet styles */

@media screen and (min-width: 550px){

    body {
        font-size: 25px;
    }
   
    h1 {
        font-size: 2em;
    }

    .left-text h3 {
        position: relative;
        top: 14px;
    }

    .main-banner h2 {
        font-size: 3em;
    }

    .joing {
        font-size: 1.5em;
    }

    .about {
        font-size: 1.4em;
    }


}

/* large tablet */

@media screen and (min-width: 740px){

    body{
        font-size: 25px;
    }

    h1 {
        font-size: 2.5em;
    }
    
    .main-banner h2 {
        font-size: 3em;
    }

}

/* desktop styles  */

@media screen and (min-width: 1200px){

    body {
        font-size: 25px;
        width: 80%;
        margin: 0 auto;
        
        
    }

    

  .site-header {
        justify-content: space-between; 
        height: 160px;
        
  }

    h1 {
        font-size: 2.5em;
    }

    .right-text {
        display: inline-block;
        padding-right: 20px;
        transform: rotate(-15deg);
        font-size: 1.2em;
    }

    .main-banner h2 {
        font-size: 3em;
    }

    nav {
        font-size: 1.2em;
        grid-area: 1 / 1 / 1 / 9;

    }

    .main-banner {
        grid-area: 2 / 1 / 6 / 9 ;
        

    }

    .joing {
        grid-area: 1 / 9 / 3 / 13;
        margin-top: 0;
        font-size: 1.5em;
        padding-bottom: 0;
    }

    .joing-container {
        padding: 0;
    }

    .about {
        margin-top: -20px;
        grid-area: 6 / 1 / 7 / 9;
        font-size: 1em ;
    }

    .beer-of-month {
        grid-area: 3 / 9 / 6 / 13;
        height: 320px ;
    }

    .beer-month {
        width: 120px;
        padding: 0;
    }


    .club-recomended {
        margin-top: 12px;
        padding-top: 10;
        grid-area: 5 / 9 / 8 / 13;
    }

    .covid {
        grid-area: 8 / 9 / 10 / 13;
    }
    
    .beer-offer {
        grid-area: 7 / 1 / 17 / 9;
    }

    .info {
        grid-area: 17 / 1 / 19 / 13;
        
    }

    .info-container {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    footer {
        grid-area: 19/ 1 / 20 / 13;
    }
}


